{{> main/breadcrumb parentTitle="Board Members" parentLink="/board" parentTitle="Current" currentTitle=this.boardMember.data.firstName lastName=this.boardMember.data.lastName}}
			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-sidebar gt-no-top-offset gt-no-bottom-offset">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<main class="gt-section gt-size-3">

								<!-- - - - - - - - - - - - - - Team Member - - - - - - - - - - - - - - - - -->

								<div class="gt-team-member gt-single">

									<!-- - - - - - - - - - - - - - Member Photo - - - - - - - - - - - - - - - - -->

									<div class="gt-member-photo">

										<img src="https://admin.moreleft.com{{boardMember.data.photo.url}}" alt="">

									</div>

									<!-- - - - - - - - - - - - - - End of Member Photo - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Member Info - - - - - - - - - - - - - - - - -->

									<h4 class="gt-member-name">{{boardMember.data.firstName}} {{boardMember.data.lastName}}</h4>

									<div class="gt-member-position">{{boardMember.data.position}}</div>

									{{!-- <ul class="gt-social-icons">

										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>

									</ul> --}}

									<!-- - - - - - - - - - - - - - End of Member Info - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - About Member - - - - - - - - - - - - - - - - -->

									<p class="gt-member-about">{{{markdown boardMember.data.BiographyNew}}}</p>

									<!-- - - - - - - - - - - - - - End of About Member - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of Team Member - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Progress Bars Style 3 - - - - - - - - - - - - - - - - -->

								{{!-- <div class="gt-progress-bars-holder type-3">

									<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

									<div class="gt-pbar-wrap">

										<h6 class="gt-pbar-title">Skiing</h6>

										<div class="gt-pbar" data-value="91">

											<div class="gt-pbar-inner" style="width: 91%;" data-value="91"></div>

										</div>

									</div><!--/ .gt-pbar-wrap -->

									<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

									<div class="gt-pbar-wrap">

										<h6 class="gt-pbar-title">Hiking</h6>

										<div class="gt-pbar" data-value="44">

											<div class="gt-pbar-inner" style="width: 44%;" data-value="44"></div>

										</div>

									</div><!--/ .gt-pbar-wrap -->

									<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

									<div class="gt-pbar-wrap">

										<h6 class="gt-pbar-title">Powerlifting</h6>

										<div class="gt-pbar" data-value="38">

											<div class="gt-pbar-inner" style="width: 38%;" data-value="38"></div>

										</div>

									</div><!--/ .gt-pbar-wrap -->

									<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

								</div><!--/ .gt-progress-bars-holder --> --}}

								<!-- - - - - - - - - - - - - - End of Progress Bars Style 3 - - - - - - - - - - - - - - - - -->

							</main>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Call Out Style 1 - - - - - - - - - - - - - - - - -->

							<section class="gt-call-out gt-content-element gt-fullwidth-section-bg" data-fullwidth-bg="images/call_out_bg_6.jpg">

								<div class="gt-t-row">

									<div class="col-md-8 col-sm-7">

										<h3>Looking for an exceptional quality?<br>You’ve got it.</h3>

									</div>

									<div class="col-md-4 col-sm-5">

										<div class="align-right">

											<a href="#" class="gt-btn-3 gt-large">Buy Now</a>

										</div><!--/ .align-right -->

									</div>

								</div><!--/ .gt-t-row -->

							</section>

							<!-- - - - - - - - - - - - - - End of Call Out Style 1 - - - - - - - - - - - - - - - - -->

						</div><!--/ .col -->

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->
