{{> main/breadcrumb currentTitle=this.title}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <section class="gt-content-element">

                    <h2>{{aboutSingleType.CorporateInfoHeading}}</h2>
                    <h4>{{aboutSingleType.CorporateInfoSubHeading}}</h4>

                    <p>{{{markdown aboutSingleType.CorporateInfoBody}}}</p>

                </section>

            </div>

                <div class="col-md-6 gt-text-content-element">
                    <h4>Corporate Documents</h4>
                    <p>{{aboutSingleType.CorporateInfoLeftColumnBody}}</p>
                    <ul class="gt-list gt-type-1">
                        {{#each docs}}
                        {{#unless isTax}}
                            <li><a class="gt-paypal-link" href="https://admin.moreleft.com{{PDF.url}}" target="_blank" rel="noopener noreferrer">{{Name}}</a></li>
                        {{!-- </a> --}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-6 gt-text-content-element">
                    <h4>Tax Documents</h4>
                    <p>{{aboutSingleType.CorporateInfoRightColumnBody}}</p>
                    <ul class="gt-list gt-type-1">
                        {{#each docs}}
                        {{#if isTax}}
                        <li><a class="gt-paypal-link" href="https://admin.moreleft.com{{PDF.url}}" target="_blank" rel="noopener noreferrer">{{Name}}</a></li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>





            <!--/ .col -->

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->