{{> main/breadcrumb currentTitle=blogEntry.Title breadcrumbDate=blogEntry.datePosted}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="gt-single-entry-holder">

                    <div class="gt-content-element">

                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->
                        <article class="gt-entry gt-single">

                            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                            <div class="gt-entry-body">

                                <!-- - - - - - - - - - - - - - Blockquote - - - - - - - - - - - - - - - - -->
                                {{#if blogEntry.quote}}
                                <blockquote class="gt-blockquote gt-type-3">

                                    {{blogEntry.quote}}

                                </blockquote>
                                {{/if}}

                                <!-- - - - - - - - - - - - - - End of Blockquote - - - - - - - - - - - - - - - - -->

                                {{!-- <p></p> --}}
                                {{{markdown blogEntry.Body}}}


                                <!-- - - - - - - - - - - - - - Carousel Style 3 - - - - - - - - - - - - - - - - -->


                                <div id="blogOwl" class="owl-carousel gt-simple-carousel mb-5">

                                    {{#each blogEntry.Images}}
                                    <img src="https://admin.walindwa.org{{url}}" alt="">
                                    {{/each}}

                                </div>


                                <!-- - - - - - - - - - - - - - End of Carousel Style 3 - - - - - - - - - - - - - - - - -->


                                <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                                {{!-- <div class="gt-entry-meta">

                                    <div class="gt-entry-meta-item">

                                        <span class="gt-title">Tags:</span>

                                        <ul class="gt-entry-tags">

                                            <li><a href="#">Graphic Design</a></li>
                                            <li><a href="#">Marketing</a></li>
                                            <li><a href="#">Photoshop</a></li>

                                        </ul>

                                    </div>
                                    <!--/ .gt-entry-meta-item -->

                                    <div class="gt-entry-meta-item">

                                        <span class="gt-title">Share:</span>

                                        <ul class="gt-social-icons">

                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>

                                        </ul>

                                    </div> --}}
                                <!--/ .gt-entry-meta-item -->

                                {{!-- </div> --}}

                                <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                        </article>

                        <!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Entries Navigation - - - - - - - - - - - - - - - - -->

                        <div class="gt-entries-nav">

                            {{#if prevEntry}}
                            <a href="./blog-{{prevEntry.id}}"
                                class="alignleft gt-previous-entry navA">{{prevEntry.Title}}</a>
                            {{/if}}
                            {{#if nextEntry}}
                            <a href="./blog-{{nextEntry.id}}" class="alignright gt-next-entry navA">{{nextEntry.Title}}</a>
                            {{/if}}

                        </div>

                        <!-- - - - - - - - - - - - - - End of Entries Navigation - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Entry Author - - - - - - - - - - - - - - - - -->

                        {{#if authorInfo}}

                        <div class="gt-entry-author gt-author-box">

                            <a href="./board:{{authorInfo.id}}" class="gt-avatar">
                                <img src="https://admin.walindwa.org{{authorInfo.photo.url}}" alt="">
                            </a>

                            <div class="gt-author-info">

                                <div class="gt-author-name">Posted by <a class="navA"
                                        href="./board:{{authorInfo.id}}">{{blogEntry.Author}}</a></div>

                                <span class="gt-author-about">{{createExcerpt authorInfo.BiographyNew 1}}</span>

                                {{!-- <ul class="gt-social-icons">

                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>

                                </ul> --}}

                            </div>
                            <!--/ .gt-author-info -->

                        </div>
                        <!--/ .gt-author-entry.gt-author-box -->

                        {{/if}}

                        <!-- - - - - - - - - - - - - - End of Entry Author - - - - - - - - - - - - - - - - -->

                    </div>
                    <!--/ .gt-content-element -->

                    {{!-- <div class="gt-content-element"> --}}

                    {{!-- <h3>Comments</h3> --}}

                    <!-- - - - - - - - - - - - - - Comments - - - - - - - - - - - - - - - - -->

                    {{!-- <ol class="gt-comments-list">

                            <li class="gt-comment">

                                <article>

                                    <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                                    <div class="gt-gravatar">

                                        <a href="#"><img src="images/author_2.jpg" alt=""></a>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                                    <div class="gt-comment-body">

                                        <header class="gt-comment-meta">

                                            <h6 class="gt-comment-author"><a href="#">Mark Twain</a></h6>
                                            <time datetime="2015-10-17 02:41" class="gt-comment-date">2 days ago</time>
                                            <a href="#" class="gt-comment-reply-link">Reply</a>

                                        </header>

                                        <p>Candy canes cake marshmallow brownie. Jujubes macaroon sesame snaps
                                            marshmallow fruitcake jelly beans sweet cupcake. Wafer cupcake oat cake cake
                                            chocolate cake jelly beans icing jelly beans.</p>

                                    </div>
                                    <!--/ .comment-body-->

                                    <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                                </article>

                                <ol class="gt-children">

                                    <li class="gt-comment">

                                        <article>

                                            <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                                            <div class="gt-gravatar">

                                                <a href="#"><img src="images/author_7.jpg" alt=""></a>

                                            </div>

                                            <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                                            <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                                            <div class="gt-comment-body">

                                                <header class="gt-comment-meta">

                                                    <h6 class="gt-comment-author"><a href="#">Ernest Hemingway</a></h6>
                                                    <time datetime="2015-10-17 02:41" class="gt-comment-date">2 days
                                                        ago</time>
                                                    <a href="#" class="gt-comment-reply-link">Reply</a>

                                                </header>

                                                <p>Candy canes cake marshmallow brownie. Jujubes macaroon sesame snaps
                                                    marshmallow fruitcake jelly beans sweet cupcake. Wafer cupcake oat
                                                    cake cake chocolate cake jelly beans icing jelly beans.</p>

                                            </div>
                                            <!--/ .comment-body-->

                                            <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                                        </article>

                                    </li>

                                </ol>

                            </li>

                        </ol> --}}

                    <!-- - - - - - - - - - - - - - End of Comments - - - - - - - - - - - - - - - - -->

                    {{!-- <h5>Leave a Reply</h5> --}}

                    <!-- - - - - - - - - - - - - - Leave a Reply Form - - - - - - - - - - - - - - - - -->

                    {{!-- <form class="gt-leave-reply-form" novalidate>

                            <ul>

                                <li class="row">

                                    <div class="col-sm-6">

                                        <label for="leave-reply-name" class="gt-required">Name</label>

                                        <div class="gt-input-wrapper">

                                            <input type="text" required name="name" id="leave-reply-name">

                                        </div>
                                        <!--/ .gt-input-wrapper -->

                                    </div>

                                    <div class="col-sm-6">

                                        <label for="leave-reply-email" class="gt-required">Email</label>

                                        <div class="gt-input-wrapper">

                                            <input type="email" required name="email" id="leave-reply-email">

                                        </div>
                                        <!--/ .gt-input-wrapper -->

                                    </div>

                                </li>

                                <li class="row">

                                    <div class="col-xs-12">

                                        <label for="leave-reply-comment">Comment</label>

                                        <div class="gt-input-wrapper">

                                            <textarea rows="4" id="leave-reply-comment" name="comment"></textarea>

                                        </div>
                                        <!--/ .gt-input-wrapper -->

                                    </div>

                                </li>

                                <li class="row">

                                    <div class="col-xs-12">

                                        <button class="gt-btn-3 gt-large gt-shadow">Submit Review</button>

                                    </div>

                                </li>

                            </ul>

                        </form> --}}

                    <!-- - - - - - - - - - - - - - End of Leave Reply Form - - - - - - - - - - - - - - - - -->

                    {{!-- </div> --}}
                    <!--/ .gt-content-element -->

                </div>
                <!--/ .gt-single-entry-holder -->

            </div>

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->

{{!-- <script src="./js/blogAuthor.js" person={{blogEntry.Author}}></script> --}}