<!-- - - - - - - - - - - - - - Media Holder - - - - - - - - - - - - - - - - -->

{{!-- <div class="gt-media-holder gt-dim-section gt-fullscreen" data-bg="images/fullscreen_bg_13.jpg"> --}}
{{!-- <span class="imgHolder"> --}}
<div class="gt-media-holder gt-dim-section gt-fullscreen"
	data-bg="https://admin.moreleft.com{{ homeSingle.data.cover.url }}" id="walindwa-hero"
	style="height: 75vh; padding-left: 0; padding-right:0;">
	<div class="ceilFade">

		<div class="container">

			<div class="row">

				<div class="col-xs-12">

					<div class="gt-centered-content" style="text-shadow: 0 0 13px black;">

						<h1 style="line-height: 1.05;"><span
								style="font-size: 120%; font-weight:600">Walindwa</span><br><span
								style="font-size: 60%; font-weight:700"> The U.S. Partner of </span> <br> <span
								style="font-size: 90%; font-weight: 600;"> Elma Barnett Children's Centre
							</span><br><span style="font-size: 60%; font-weight:700;">in Kenya</span></h1>

						<a href={{ homeSingle.data.topVideoURL }} class="fancybox-media gt-icon-play"></a>

					</div>

				</div>

			</div>
			<!--/ .row -->

		</div>

	</div>

</div>
{{!-- </span> --}}

<!-- - - - - - - - - - - - - - End of Media Holder - - - - - - - - - - - - - - - - -->

{{#if homeSingle.data.topCallOutMessage }}

{{!-- <div class="gt-page-content-wrap gt-no-sidebar gt-no-bottom-offset"> --}}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<section class="gt-content-element">

				<!-- - - - - - - - - - - - - - Call Out Style 1 - - - - - - - - - - - - - - - - -->

				<section class="gt-call-out gt-content-element gt-fullwidth-section-bg"
					data-fullwidth-bg="images/call_out_bg_5.jpg">

					<div class="gt-t-row">

						<div class="col-md-8 col-sm-7">

							<h3>{{{markdown homeSingle.data.topCallOutMessage }}}</h3>

						</div>

						{{#if homeSingle.data.topCallOutBtnText}}

						<div class="col-md-4 col-sm-5">

							<div class="align-right">

								<a href={{ homeSingle.data.topCallOutBtnURL }}
									class="gt-btn-3 gt-large navA">{{homeSingle.data.topCallOutBtnText}}</a>

							</div>
							<!--/ .align-right -->

						</div>

						{{/if}}

					</div>
					<!--/ .gt-t-row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Call Out Style 1 - - - - - - - - - - - - - - - - -->







			</section>
		</div>
	</div>
</div>
{{!-- </div> --}}

{{/if }}




<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-top-offset gt-no-bottom-offset gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">


				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section home-blog">

					<h2 class="gt-title-underline">From Our Blog</h2>

					{{!-- <p class="gt-sub-title">Carrot cake gingerbread sugar plum jujubes.</p> --}}

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3"
						data-animation="fadeInUp">

						{{#each blogs}}



						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="/blog-{{id}}"><img
											src="https://admin.moreleft.com{{Images.[0].url}}" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									{{!-- <ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul> --}}

									<h6 class="gt-entry-title"><a class="navA" href="/blog-{{id}}">{{Title}}</a></h6>
									<p class="line-clamp" style="text-align: left;">{{createExcerpt Body 2}}
									</p>
										{{!-- <br> --}}
										<div style="display: flex;">

										<a style="text-align: left !important;" class="gt-continue-reading-link gt-type-2 navA"
											href="/blog-{{id}}">Read
											More</a>
										</div>


								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						{{/each}}

						{{!-- <div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_02.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Queue Managing</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">7 Smart Ideas
											for Managing the Support Queue</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_03.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Support</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Supercharge
											Your Support With Data-Driven Smarts</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_01.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a
											Visual<br>Really is Worth 1,000 Words</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col --> --}}

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->




				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg gt-bg-color1" data-fullwidth-bg="">

					<h2 class="gt-title-underline">Walindwa By The Numbers</h2>

					<p class="gt-sub-title">Nuggets of information about our work in Kenya</p>

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number1Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number1Heading}}</h6>

								<p>{{{homeSingle.data.number1Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number2Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number2Heading}}</h6>

								<p>{{{homeSingle.data.number2Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number3Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number3Heading}}</h6>

								<p>{{{homeSingle.data.number3Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number4Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number4Heading}}</h6>

								<p>{{{markdown homeSingle.data.number4Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number5Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number5Heading}}</h6>

								<p>{{{homeSingle.data.number5Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-{{homeSingle.data.number6Icon}}"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>{{homeSingle.data.number6Heading}}</h6>

								<p>{{{homeSingle.data.number6Body}}}</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg"
					data-fullwidth-bg="images/1920x844_bg1.jpg">

					<div class="row">
						<div class="col-sm-6"></div>
						<div class="col-sm-6 blurWhiteBg">

							<h2 class="gt-title-underline">The Walindwa Difference</h2>
							<p class="gt-sub-title gt-type-2">Many child sponsorship organizations exist, but Walindwa
								is unique.</p>

							<div class="gt-infoblock gt-type-6 gt-infoblock-columns-1">

								<div class="gt-infoblock-item">

									<div class="gt-icon-box">


										<div class="gt-icon-wrap">
											<span class="licon-group-work"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Personal Relationships</h6>

										<div class="gt-icon-content">
											<p>The Walindwa Board members have traveled to Kenya, met with their
												counterparts on the Kenyan BOD, and seen the results of the projects
												that we support. We visit with the children and see their excitement
												when we deliver a letter from their sponsor.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='260' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-rulers"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>The Right Size</h6>

										<div class="gt-icon-content">
											<p>The EBCCK home includes about 40 primary-aged children with another xx of
												our kids in EKHS high school plus 6-8 post-high-school students. We know
												every child’s name, how they are doing in their studies, and their hopes
												for the future.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='390' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-bag-dollar"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Financial Accountability</h6>

										<div class="gt-icon-content">
											<p>With our regular visits and close partnership, there are no fiscal
												surprises. If the lack of rain causes the price of grain to rise, we
												know about it. Funds are sent monthly, based on the number of children
												in residence. When projects are proposed by those in Kenya, we review
												the quotes before agreeing to raise the funds.
											</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

							</div>

						</div>
					</div>

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Call Out Style 3 - - - - - - - - - - - - - - - - -->

				<section class="gt-call-out gt-type-3 gt-fullwidth-section-bg gt-bg-color2" data-fullwidth-bg="">

					<div class="gt-t-row">

						<div class="col-md-8 col-sm-7">

							<h3>Help make a difference in Kenya!</h3>

						</div>

						<div class="col-md-4 col-sm-5">

							<div class="align-right">

								<a class="gt-cta-button navA" data-animation='fadeInUp' data-animation-delay='130'
									href="/donate">Donate Now</a>

							</div>
							<!--/ .align-right -->

						</div>

					</div>
					<!--/ .gt-t-row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Call Out Style 3 - - - - - - - - - - - - - - - - -->


				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-2">

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->
					<div class="bottom-photos">

						<div class="owl-carousel owl-large-nav gt-brand-holder gt-cols-5">

							{{#each homeSingle.data.photoSlider}}



							<div class="gt-col">

								<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

								<a href="http://admin.moreleft.com{{url}}" target="_blank" rel="group1"
									class="gt-brand fancybox" title={{caption}}><img
										src="http://admin.moreleft.com{{formats.thumbnail.url}}"
										alt="{{alternativeText}}"></a>

								<p style="margin-top: 7px; text-align: center; font-size: 18px; line-height: 22px">
									{{caption}}</p>

								<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

							</div>
							<!--/ .gt-col -->

							{{/each}}

							{{!-- <div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand2.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand3.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand4.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand5.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col --> --}}

						</div>
					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>
				<!--/ .gt-section -->

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

			</div>

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->



	<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->