<!-- - - - - - - - - - - - - - Media Holder - - - - - - - - - - - - - - - - -->

{{!-- <div class="gt-media-holder gt-dim-section gt-fullscreen" data-bg="images/fullscreen_bg_13.jpg"> --}}
{{!-- <span class="imgHolder"> --}}
<div class="gt-media-holder gt-dim-section gt-fullscreen"
	data-bg="https://admin.moreleft.com{{ homeSingle.data.cover.url }}" id="walindwa-hero" style="height: 75vh; padding-left: 0; padding-right:0;">
	<div class="ceilFade">

		<div class="container">

			<div class="row">

				<div class="col-xs-12">

					<div class="gt-centered-content">

						<h1>We are a consulting company <br> with 10 years of experience</h1>

						<a href="https://www.youtube.com/watch?v=apTRc3WBEog" class="fancybox-media gt-icon-play"></a>

					</div>

				</div>

			</div>
			<!--/ .row -->

		</div>

	</div>

</div>
{{!-- </span> --}}

<!-- - - - - - - - - - - - - - End of Media Holder - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-top-offset gt-no-bottom-offset gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<div class="gt-section gt-size-4 gt-fullwidth-section-bg" data-fullwidth-bg="images/section_bg_16.png">

					<div class="gt-content-element">

						<div class="row">

							{{#each blogs}}

							{{log this}}

							<div class="col-sm-4">

								<div class="gt-about-us-section">

									<div class="gt-about-img"><img src="https://admin.moreleft.com{{Images.[0].url}}"
											alt=""></div>
									<div class="gt-about-us-content">

										<h6>{{Title}}</h6>
										{{!-- <p>Cookie biscuit cupcake marshmallow ice cream cupcake liquorice. Marshmallow bear claw biscuit.</p> --}}
										<p>{{createExcerpt Body 2}}</p>
										<a class="gt-continue-reading-link gt-type-2 navA" href="/blog-{{id}}">Read
											More</a>

									</div>

								</div>

							</div>

							{{/each}}
							{{!-- <div class="col-sm-4">
											
											<div class="gt-about-us-section">

												<div class="gt-about-img"><img src="images/370x240_img2.jpg" alt=""></div>
												<div class="gt-about-us-content">

													<h6>What We do</h6>
													<p>Cotton candy topping ice cream ice cream. Bear claw jelly beans halvah candy canes cake fruitcake sweet roll.</p>
													<a class="gt-continue-reading-link gt-type-2" href="#">Read More</a>

												</div>

											</div>

										</div>
										<div class="col-sm-4">
											
											<div class="gt-about-us-section">

												<div class="gt-about-img"><img src="images/370x240_img3.jpg" alt=""></div>
												<div class="gt-about-us-content">

													<h6>Social impact</h6>
													<p>Jelly beans lemon drops halvah gingerbread sweet bear claw pastry topping. </p>
													<a class="gt-continue-reading-link gt-type-2" href="#">Read More</a>

												</div>

											</div>

										</div> --}}

						</div>

					</div>

				</div>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg gt-bg-color1" data-fullwidth-bg="">

					<h2 class="gt-title-underline">Industry Expertise</h2>

					<p class="gt-sub-title">Pastry liquorice sesame snaps</p>

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-plane"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Airlines & Transportation</h6>

								<p>Muffin donut dragée gummi bears lemon drops carrot cake roll chocolate bar.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-cart-full"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Consumer Products</h6>

								<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit. </p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-bag-dollar"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Financial Services</h6>

								<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-heart-pulse"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Healthcare</h6>

								<p>Jelly jelly-o marshmallow chocolate bar. Toffee pastry chupa chups.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-phone"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>High Tech</h6>

								<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-group-work"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Social & Public Sector</h6>

								<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg"
					data-fullwidth-bg="images/1920x844_bg1.jpg">

					<div class="row">
						<div class="col-sm-6"></div>
						<div class="col-sm-6">

							<h2 class="gt-title-underline">Why Choosing Us</h2>
							<p class="gt-sub-title gt-type-2">Cookie biscuit cupcake marshmallow ice cream cupcake
								liquorice. Marshmallow bear claw biscuit.</p>

							<div class="gt-infoblock gt-type-6 gt-infoblock-columns-1">

								<div class="gt-infoblock-item">

									<div class="gt-icon-box">


										<div class="gt-icon-wrap">
											<span class="licon-users2"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Win as One Firm </h6>

										<div class="gt-icon-content">
											<p>We work as one firm and succeed through collaboration, inclusion and
												valuing diverse points of view.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='260' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-chart-growth"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Grow with our Clients</h6>

										<div class="gt-icon-content">
											<p>Our clients inspire us to create innovative solutions and exceed
												expectations.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='390' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-brain"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Always Act with Integrity </h6>

										<div class="gt-icon-content">
											<p>We operate at the highest levels of ethics and integrity in all we do.
											</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

							</div>

						</div>
					</div>

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Call Out Style 3 - - - - - - - - - - - - - - - - -->

				<section class="gt-call-out gt-type-3 gt-fullwidth-section-bg gt-bg-color2" data-fullwidth-bg="">

					<div class="gt-t-row">

						<div class="col-md-8 col-sm-7">

							<h3>Help make a difference in Kenya!</h3>

						</div>

						<div class="col-md-4 col-sm-5">

							<div class="align-right">

								<a class="gt-cta-button navA" data-animation='fadeInUp' data-animation-delay='130'
									href="/donate">Donate Now</a>

							</div>
							<!--/ .align-right -->

						</div>

					</div>
					<!--/ .gt-t-row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Call Out Style 3 - - - - - - - - - - - - - - - - -->


				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-2">

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-brand-holder gt-cols-5">

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand1.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand2.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand3.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand4.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand5.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>
				<!--/ .gt-section -->

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section">

					<h2 class="gt-title-underline">From Our Blog</h2>

					<p class="gt-sub-title">Carrot cake gingerbread sugar plum jujubes.</p>

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3"
						data-animation="fadeInUp">

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_01.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a
											Visual<br>Really is Worth 1,000 Words</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_02.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Queue Managing</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">7 Smart Ideas
											for Managing the Support Queue</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_03.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Support</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Supercharge
											Your Support With Data-Driven Smarts</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_01.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a
											Visual<br>Really is Worth 1,000 Words</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

			</div>

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->



	<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->