<!-- - - - - - - - - - - - - - Media Holder - - - - - - - - - - - - - - - - -->

{{!-- <div class="gt-media-holder gt-dim-section gt-fullscreen" data-bg="images/fullscreen_bg_13.jpg"> --}}
{{!-- <span class="imgHolder"> --}}
<div class="gt-media-holder gt-dim-section gt-fullscreen"
	data-bg="https://admin.moreleft.com{{ homeSingle.data.cover.url }}" id="walindwa-hero"
	style="height: 75vh; padding-left: 0; padding-right:0;">
	<div class="ceilFade">

		<div class="container">

			<div class="row">

				<div class="col-xs-12">

					<div class="gt-centered-content">

						<h1>We are a consulting company <br> with 10 years of experience</h1>

						<a href="https://www.youtube.com/watch?v=apTRc3WBEog" class="fancybox-media gt-icon-play"></a>

					</div>

				</div>

			</div>
			<!--/ .row -->

		</div>

	</div>

</div>
{{!-- </span> --}}

<!-- - - - - - - - - - - - - - End of Media Holder - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-top-offset gt-no-bottom-offset gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">


				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section">

					<h2 class="gt-title-underline">From Our Blog</h2>

					<p class="gt-sub-title">Carrot cake gingerbread sugar plum jujubes.</p>

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3"
						data-animation="fadeInUp">

						{{#each blogs}}



						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="/blog-{{id}}"><img
											src="https://admin.moreleft.com{{Images.[0].url}}" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									{{!-- <ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul> --}}

									<h6 class="gt-entry-title"><a class="navA" href="/blog-{{id}}">{{Title}}</a></h6>
									<p style="text-align: left;">{{createExcerpt Body 2}}
										<br>
										<a style="margin-top: 1.5rem;" class="gt-continue-reading-link gt-type-2 navA" href="/blog-{{id}}">Read
											More</a>
									</p>
									

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						{{/each}}

						{{!-- <div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_02.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Queue Managing</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">7 Smart Ideas
											for Managing the Support Queue</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_03.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Support</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Supercharge
											Your Support With Data-Driven Smarts</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

							<article class="gt-entry gt-image-entry-format">

								<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-attachment">

									<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
											src="images/entry_image_01.jpg" alt=""></a>

								</div>

								<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

								<div class="gt-entry-body">

									<ul class="gt-entry-cats">
										<li><a href="#">Business</a></li>
									</ul>

									<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a
											Visual<br>Really is Worth 1,000 Words</a></h6>

								</div>

								<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

							</article>

							<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col --> --}}

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->




				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg gt-bg-color1" data-fullwidth-bg="">

					<h2 class="gt-title-underline">Industry Expertise</h2>

					<p class="gt-sub-title">Pastry liquorice sesame snaps</p>

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-plane"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Airlines & Transportation</h6>

								<p>Muffin donut dragée gummi bears lemon drops carrot cake roll chocolate bar.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-cart-full"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Consumer Products</h6>

								<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit. </p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-bag-dollar"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Financial Services</h6>

								<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

					<div class="row gt-content-element">

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-heart-pulse"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Healthcare</h6>

								<p>Jelly jelly-o marshmallow chocolate bar. Toffee pastry chupa chups.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-phone"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>High Tech</h6>

								<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-4">

							<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

							<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

								<div class="gt-icon-wrap">

									<div class="licon-group-work"></div>

								</div>
								<!--/ .gt-icon-wrap -->

								<h6>Social & Public Sector</h6>

								<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

							</section>

							<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

						</div>

					</div>
					<!--/ .row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-4 gt-fullwidth-section-bg"
					data-fullwidth-bg="images/1920x844_bg1.jpg">

					<div class="row">
						<div class="col-sm-6"></div>
						<div class="col-sm-6 blurWhiteBg">

							<h2 class="gt-title-underline">The Walindwa Difference</h2>
							<p class="gt-sub-title gt-type-2">Many child sponsorship organizations exist, but Walindwa is unique.</p>

							<div class="gt-infoblock gt-type-6 gt-infoblock-columns-1">

								<div class="gt-infoblock-item">

									<div class="gt-icon-box">


										<div class="gt-icon-wrap">
											<span class="licon-users"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Personal Relationships</h6>

										<div class="gt-icon-content">
											<p>The Walindwa Board members have traveled to Kenya, met with their counterparts on the Kenyan BOD, and seen the results of the projects that we support. We visit with the children and see their excitement when we deliver a letter from their sponsor.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='260' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-chart-growth"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>The Right Size</h6>

										<div class="gt-icon-content">
											<p>The EBCCK home includes about 40 primary-aged children with another xx of our kids in EKHS high school plus 6-8 post-high-school students. We know every child’s name, how they are doing in their studies, and their hopes for the future.</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

								<div data-animation='fadeInUp' data-animation-delay='390' class="gt-infoblock-item">

									<div class="gt-icon-box">

										<div class="gt-icon-wrap">
											<span class="licon-bag-dollar"></span>
										</div>
										<!--/ .gt-icon-wrap -->

										<h6>Financial Accountability</h6>

										<div class="gt-icon-content">
											<p>With our regular visits and close partnership, there are no fiscal surprises.  If the lack of rain causes the price of grain to rise, we know about it. Funds are sent monthly, based on the number of children in residence. When projects are proposed by those in Kenya, we review the quotes before agreeing to raise the funds.
											</p>
										</div>

									</div>
									<!--/ .gt-icon-box -->

								</div>

							</div>

						</div>
					</div>

				</section>

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Call Out Style 3 - - - - - - - - - - - - - - - - -->

				<section class="gt-call-out gt-type-3 gt-fullwidth-section-bg gt-bg-color2" data-fullwidth-bg="">

					<div class="gt-t-row">

						<div class="col-md-8 col-sm-7">

							<h3>Help make a difference in Kenya!</h3>

						</div>

						<div class="col-md-4 col-sm-5">

							<div class="align-right">

								<a class="gt-cta-button navA" data-animation='fadeInUp' data-animation-delay='130'
									href="/donate">Donate Now</a>

							</div>
							<!--/ .align-right -->

						</div>

					</div>
					<!--/ .gt-t-row -->

				</section>

				<!-- - - - - - - - - - - - - - End of Call Out Style 3 - - - - - - - - - - - - - - - - -->


				<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

				<section class="gt-section gt-size-2">

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-brand-holder gt-cols-5">

						{{#each homeSingle.data.photoSlider}}

						

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="http://admin.moreleft.com{{url}}" target="_blank" class="gt-brand"><img src="http://admin.moreleft.com{{formats.thumbnail.url}}" alt="{{alternativeText}}"></a>

							<p style="margin-top: 7px; text-align: center; font-size: 18px; line-height: 22px">{{caption}}</p>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						{{/each}}

						{{!-- <div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand2.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand3.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand4.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col -->

						<div class="gt-col">

							<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

							<a href="#" class="gt-brand"><img src="images/brand5.jpg" alt=""></a>

							<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

						</div>
						<!--/ .gt-col --> --}}

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</section>
				<!--/ .gt-section -->

				<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

			</div>

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->



	<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->