<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

<div class="gt-breadcrumbs-wrap" data-bg="images/breadcrumbs_img_3.jpg">
	{{#if boardMember.data.firstName}}
	<h1 class="gt-page-title">{{boardMember.data.firstName}} {{boardMember.data.lastName}}</h1>
	{{/if}}
	{{#unless boardMember.data.firstName}}
	<h1 class="gt-page-title">{{currentTitle}}</h1>
	{{/unless}}

	{{#if testimonial}}
	<ul class="gt-breadcrumbs gt-entry-meta">
		<li><a class="navA" href="/">Home</a></li>
		<li><a class="navA" href="/testimonials">Testimonials</a></li>
		<li class="gt-entry-meta">
			<time class="gt-entry-date" datetime="2016-01-27">{{breadcrumbMonth}}, {{breadcrumbYear}}</time>
		</li>
	</ul>
	{{/if}}

	{{#if breadcrumbDate}}
	<ul class="gt-breadcrumbs gt-entry-meta">
		<li><a class="navA" href="/">Home</a></li>
		<li><a class="navA" href="/blog">Trip Blog</a></li>
		<li class="gt-entry-meta">
			<time class="gt-entry-date" datetime="2016-01-27">{{getBlogSingleDate breadcrumbDate}}</time>
		</li>
	</ul>
	{{/if}}

	{{#unless breadcrumbDate}}
	{{#unless testimonial}}
	<ul class="gt-breadcrumbs">

		<li><a class="navA" href="/">Home</a></li>
		{{#if parentTitle}}
		<li><a class="navA" href="{{parentLink}}">{{parentTitle}}</a></li>
		{{/if}}
		{{!-- {{#if parentBreadcrumb}}
		<li><a class="navA" href="{{parentBreadcrumb}}">{{currentTitle}}</a></li>
		{{/if}} --}}
		{{!-- {{#unless parentBreadcrumb}} --}}
		{{#unless lastName}}
		<li>{{currentTitle}}</li>
		{{/unless}}
		{{#if lastName}}
		<li>{{currentTitle}} {{lastName}}</li>
		{{/if}}
		{{!-- {{/unless}} --}}
		{{!-- {{#if boardMember.data.firstName}}
		<li>{{boardMember.data.firstName}} {{boardMember.data.lastName}}</li>
		{{/if}} --}}

	</ul>
	{{/unless}}
	{{/unless}}

</div>

<!-- - - - - - - - - - - - - - End of Breadcrumbs - - - - - - - - - - - - - - - - -->