<!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

									<div class="gt-col photography">

										<div class="gt-project">

											<!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

											<div class="gt-project-image">

												<img src="https://admin.moreleft.com{{photos.[0].url}}" alt="{{photos.[0].alternativeText}}">

												<a href="/project-{{id}}" class="gt-project-link"></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->

											<div class="gt-project-description">

												<div class="gt-description-inner">

													<h6 class="gt-project-title"><a href="/project-{{id}}" class="navA">{{name}}</a></h6>

													{{!-- <ul class="gt-project-cats">
														<li><a href="#">Photography</a></li>
													</ul> --}}

												</div><!--/ .gt-description-inner -->

											</div>

											<!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

										</div>

									</div>