<div class="gt-col">

    <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

    <article class="gt-entry gt-image-entry-format">

        <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

        <div class="gt-entry-attachment">
            <a class="gt-thumbnail-attachment" href="/project-{{id}}"><img
                    src="https://admin.moreleft.com{{photos.[0].url}}" alt="{{photos.[0].alternativeText}}"></a>

        </div>

        <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

        <div class="gt-entry-body">

            {{!-- <ul class="gt-entry-cats">
                <li><a href="#">Business</a></li>
            </ul> --}}

            <h6 class="gt-entry-title"><a href="/project-{{id}}">{{name}}</a></h6>

        </div>

        <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

    </article>

    <!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

</div>
<!--/ .gt-col -->