{{ log this }}
<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

<div class="gt-col">
	{{#if Images}}
	<article class="gt-entry gt-image-entry-format">
		{{/if}}

		{{#unless Images}}
		<article class="gt-entry gt-image-entry-format">
			{{/unless}}

			<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

			<div class="gt-entry-attachment">
				{{#if Images}}
				<a class="gt-thumbnail-attachment" href="./blog-{{id}}"><img
						src="https://admin.moreleft.com{{Images.[0].url}}" alt=""></a>
				{{/if}}

				{{#unless Images}}
				<a class="gt-link-attachment" href="./blog-{{id}}"
					data-bg="https://admin.moreleft.com/uploads/genericKenya_d55d168b0f.jpeg"></a>
				{{/unless}}

				<time class="gt-entry-date" datetime="2016-01-27">{{getDay datePosted}} <span
						class="gt-entry-month">{{getMonth datePosted}}</span></time>

			</div>

			<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

			<div class="gt-entry-body">

				<h6 class="gt-entry-title"><a href="./blog-{{id}}">{{Title}}</a></h6>

				<!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

				{{!-- <div class="gt-entry-meta">
												
												<a href="#" class="gt-entry-likes">53</a>
												<a href="#" class="gt-entry-comments-link">9</a>

												<ul class="gt-entry-cats">

													<li><a href="#">JavaScript</a></li>
													<li><a href="#">WordPress</a></li>
													<li><a href="#">Health</a></li>

												</ul>

											</div> --}}

				<!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Entry Excerpt - - - - - - - - - - - - - - - - -->

				<div class="gt-entry-excerpt">

					<p>{{createExcerpt Body 3}}</p>

					<a class="gt-continue-reading-link" href="./blog-{{id}}">Read More</a>

				</div>

				<!-- - - - - - - - - - - - - - End of Entry Excerpt - - - - - - - - - - - - - - - - -->

			</div>

			<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

		</article>

</div>

<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->