{{> main/breadcrumb currentTitle=this.title}}


<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="gt-content-element mb-0">

                    <h2>Kenya</h2>

                    <!-- - - - - - - - - - - - - - Tour Sections Style 1 - - - - - - - - - - - - - - - - -->

                    <div class="gt-tour-sections-holder gt-type-1">

                        <!-- - - - - - - - - - - - - - Tour Sections Navigation - - - - - - - - - - - - - - - - -->

                        <nav class="gt-tabs-nav-wrap">

                            <ul class="gt-tabs-nav" style="list-style:none">

                                <li><a class="navA" href="#tour-section-1"><span class="lnr lnr-earth"></span>Maps</a></li>
                                <li><a class="navA" href="#tour-section-2"><span class="lnr lnr-eye"></span>{{kenyaSingleType.FirstSectionLabel}}</a></li>
                                <li><a class="navA" href="#tour-section-3"><span class="lnr lnr-heart"></span>{{kenyaSingleType.SecondSectionLabel}}</a>
                                </li>
                                <li><a class="navA" href="#tour-section-4"><span class="lnr lnr-graduation-hat"></span>{{kenyaSingleType.ThirdSectionLabel}}</a></li>

                            </ul>

                        </nav>

                        <!-- - - - - - - - - - - - - - End of Tour Sections Navigation - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Tour Sections Container - - - - - - - - - - - - - - - - -->

                        <div id="one" class="gt-tabs-container">

                            <!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

                            <div id="tour-section-1" class="gt-tab">

                                <img src="https://admin.moreleft.com/uploads/KenyaMap_ad6c08177f.jpeg" style="margin-bottom: 3rem;" alt="">
                                <img src="https://admin.moreleft.com/uploads/Little_Map_1f63ed566d.jpeg" alt="">

                                {{!-- <div id="mapid" style="height:371px; z-index:1"></div> --}}

                                {{!-- <script src="/js/leaflet.js"></script> --}}

                            </div>

                            <!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

                            <div id="tour-section-2" class="gt-tab">

                                {{!-- <ul class="gt-list gt-type-2">
                                    <li>Malaria is the number one killer of children and women in Kenya.</li>
                                    <li>75% of Kenya’s population are under 30 years of age.</li>
                                    <li>The inability to pay school fees is the main reason why Kenyan children leave
                                        school early.</li>
                                    <li>The four public and ten private universities in Kenya can only accommodate less
                                        than half of those seeking post-secondary education.</li>
                                </ul> --}}

                                {{{markdownFancyUL kenyaSingleType.KenyaFacts}}}


										<!-- - - - - - - - - - - - - - Progress Bars Style 4 - - - - - - - - - - - - - - - - -->

        <h6 style="margin-top: 2rem;">If Kenya were your home instead of The United States you would...</h6>

										<div class="gt-progress-bars-holder type-4">

											<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">die <span class="gt-bar-bold">16.04 years </span> sooner</h6>

												<div class="gt-pbar pbRed" data-value="57">

												</div>

											</div><!--/ .gt-pbar-wrap -->

											<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">be <span class="gt-bar-bold">6.5 times more</span> likely to be unemployed</h6>

												<div class="gt-pbar pbRed" data-value="36">

												</div>

											</div><!--/ .gt-pbar-wrap -->

											<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Progress Bar Item - - - - - - - - - - - - - - - - -->

											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">be <span class="gt-bar-bold">6.6 times more</span> likely to die in infancy</h6>

												<div class="gt-pbar pbRed" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->

											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">be <span class="gt-bar-bold">10.2 times more</span> likely to have HIV/AIDS</h6>

												<div class="gt-pbar pbRed" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->

											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">make <span class="gt-bar-bold">96.59% less</span> money</h6>

												<div class="gt-pbar pbRed" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">spend <span class="gt-bar-bold">99.5% less</span> money on health care</h6>

												<div class="gt-pbar pbGreen" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">use <span class="gt-bar-bold">98.88% less</span> electricity</h6>

												<div class="gt-pbar pbGreen" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">consume <span class="gt-bar-bold">96.95% less</span> oil</h6>

												<div class="gt-pbar pbGreen" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">be <span class="gt-bar-bold">82.95% less</span> likely to be in prison</h6>

												<div class="gt-pbar pbGreen" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">be <span class="gt-bar-bold">73.68% more</span> likely to be murdered</h6>

												<div class="gt-pbar pbRed" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">experience <span class="gt-bar-bold">5.56% less</span> of a class divide</h6>

												<div class="gt-pbar pbGreen" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->


											<div class="gt-pbar-wrap">

												<h6 class="gt-pbar-title">have <span class="gt-bar-bold">2.1 times more</span> babies</h6>

												<div class="gt-pbar pbBlue" data-value="29">

												</div>

											</div><!--/ .gt-pbar-wrap -->

                                            

											<!-- - - - - - - - - - - - - - End of Progress Bar Item - - - - - - - - - - - - - - - - -->

										</div><!--/ .gt-progress-bars-holder -->

										<!-- - - - - - - - - - - - - - End of Progress Bars Style 4 - - - - - - - - - - - - - - - - -->


<ul class="gt-list gt-type-2" style="margin-top: 2rem;">
    <li>Malaria is the number one killer of children and women in Kenya.</li>
    <li>75% of Kenya’s population are under 30 years of age.</li>
</ul>

                            </div>

                            <!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

                            <div id="tour-section-3" class="gt-tab">

                                {{!-- <p>Walindwa is committed to helping qualified African mission organizations or
                                    non-governmental organizations that further our purpose of benefiting the children
                                    in the Rift Valley Province.</p>
                                <p>Walindwa Charitable Corporation was incorporated in the State of California in
                                    February 2012 and is a tax exempt non-profit organization, Section 501(c)(3) of the
                                    Internal Revenue Code. All donations are tax deductible to the extent allowed by
                                    law. </p> --}}

                                    {{{markdown kenyaSingleType.KenyaWalindwasRole}}}

                            </div>

                            <!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

                            <div id="tour-section-4" class="gt-tab">

                                {{!-- <p>Past support has focused on <a class="gt-paypal-link" href="http://elmabarnettchildrenscentre.org/"
                                        target="_blank" rel="noopener noreferrer">Elma Barnett Children’s Centre
                                        Kamonong (EBCCK)</a>, which is home to 60 children and youth who come from
                                    non-functioning or deceased parents. It is located on 9.3 acres in the Rift Valley
                                    Province, Nakuru district, and served by 7 staff members and 8 Kamonong community
                                    board members. Walindwa’s program development model will be to provide support for
                                    programs at EBCCK and measure the success of each one carefully in this contained
                                    environment. If the program is successful then we will consider the feasibility of
                                    expanding the program to larger communities.</p> --}}

                                    {{{markdown kenyaSingleType.KenyaEBCCK}}}

                            </div>

                            <!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

                        </div>

                        <!-- - - - - - - - - - - - - - End of Tour Sections Container - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of Tour Sections Style 1 - - - - - - - - - - - - - - - - -->

                </div>
                <!--/ .gt-content-element -->

            </div>

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>


<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->