
                                        <!-- - - - - - - - - - - - - - Team Member - - - - - - - - - - - - - - - - -->

										<div class="gt-team-member">

											<!-- - - - - - - - - - - - - - Member Photo - - - - - - - - - - - - - - - - -->

											<div class="gt-member-photo">

												<img src="https://admin.moreleft.com{{photo.url}}" alt="{{photo.alternativeText}}">

												<a href="./board:{{id}}" class="gt-member-link"></a>

												<!-- - - - - - - - - - - - - - About Member - - - - - - - - - - - - - - - - -->

												<p class="gt-member-about">{{fiveWords BiographyNew}} </p>

												<!-- - - - - - - - - - - - - - End of About Member - - - - - - - - - - - - - - - - -->

											</div>

											<!-- - - - - - - - - - - - - - End of Member Photo - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Member Info - - - - - - - - - - - - - - - - -->

											<h4 class="gt-member-name"><a class="navA" href="pages_team_member.html">{{prefix}} {{firstName}} {{lastName}}</a></h4>

											<div class="gt-member-position">{{position}}</div>

											{{!-- <ul class="gt-social-icons">

												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>

											</ul> --}}

											<!-- - - - - - - - - - - - - - End of Member Info - - - - - - - - - - - - - - - - -->

										</div>

										<!-- - - - - - - - - - - - - - End of Team Member - - - - - - - - - - - - - - - - -->
