{{log this}}

{{#if inverted}}<li class="timeline-inverted">{{else}}<li>{{/if}}

{{!-- <li> --}}
    <div class="timeline-image text-center">
        <img src="https://admin.moreleft.com{{image.url}}" alt="{{image.alternativeText}}"
            class="rounded-circle img-fluid">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-date">{{time}}</h4>
            <h4 class="subheading">{{heading}}</h4>
        </div>
        <div class="timeline-body">
            <p class="text-muted">{{body}}</p>
        </div>
    </div>
</li>