{{#if inverted}}
<li class="timeline-inverted">
    {{else}}
<li>
    {{/if}}


    <div class="timeline-image text-center">
        <img src="https://admin.walindwa.org{{image.url}}" alt="{{image.alternativeText}}"
            class="rounded-circle img-fluid">
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-date">{{time}}</h4>
            <h4 class="subheading">{{heading}}</h4>
        </div>
        <div class="timeline-body">
            {{#if inverted}}
            <p class="text-muted">{{{markdown body}}}</p>
            {{/if}}
            {{#unless inverted}}
            <p class="text-muted">{{{markdownInvertedLi body}}}</p>
            {{/unless}}
        </div>
    </div>
</li>