{{> main/breadcrumb currentTitle=title}}


			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-sidebar">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->

							<nav class="gt-filter aligncenter" id="portfolio-filter">

								<ul>

									<li><a href="#" class="gt-active navA" data-filter="*">All</a></li>
									<li><a href="#" class="navA" data-filter=".Child">Child</a></li>
									<li><a href="#" class="navA" data-filter=".Post-High-School">Post-High School</a></li>

								</ul>

							</nav>

							<!-- - - - - - - - - - - - - - End of Filter - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Portfolio Holder - - - - - - - - - - - - - - - - -->

							<div class="gt-portfolio-holder gt-isotope gt-type-2">

								<!-- - - - - - - - - - - - - - Isotope - - - - - - - - - - - - - - - - -->

								<div class="gt-isotope-container gt-cols-3" data-max-items="20" data-ajax-handler="json/portfolio_items_without_actions.json" data-masonry="false" data-load-more-btn="#portfolio-load-more" data-filter-el="#portfolio-filter" data-holder-type="portfolio">

                                    {{#each opportunities}}

                                    {{log this}}


									<!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

									<div class="gt-col {{spon_cat.name}}">

										<div class="gt-project">

											<!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

											<div class="gt-project-image">

												<img src="https://admin.moreleft.com{{photo.url}}" alt="">

												<a href="./student:{{id}}" class="gt-project-link"></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->

											<div class="gt-project-description">

												<div class="gt-description-inner">

													<h6 class="gt-project-title"><a class="navA" href="portfolio_single.html">{{firstName}}</a></h6>

													{{!-- <ul class="gt-project-cats">
														<li><a class="navA" href="#">Photography</a></li>
													</ul> --}}

												</div><!--/ .gt-description-inner -->

											</div>

											<!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

										</div>

									</div>

									<!-- - - - - - - - - - - - - - End of Project - - - - - - - - - - - - - - - - -->


                                    {{/each}}


								</div>

								<!-- - - - - - - - - - - - - - End of Isotope - - - - - - - - - - - - - - - - -->

							</div>

							<!-- - - - - - - - - - - - - - End of Portfolio Holder - - - - - - - - - - - - - - - - -->

							<div class="aligncenter">

								<a href="#" class="gt-btn-3 gt-large gt-shadow gt-load-more navA" id="portfolio-load-more">Show Me More</a>

							</div>

						</div><!--/ .col -->

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->
