{{> main/breadcrumb currentTitle=this.title}}

{{log this}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <!-- - - - - - - - - - - - - - Align by center - - - - - - - - - - - - - - - - -->

                <div class="gt-content-element">

                    <div class="aligncenter">
                        <img src="https://admin.walindwa.org{{sponsorshipSingleType.PostHighTopImage.url}}" alt="">
                    </div>

                    {{{markdown sponsorshipSingleType.PostHighTopBody}}}

                </div>
                <!--/ .gt-content-element -->

                <!-- - - - - - - - - - - - - - End of Align by center - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Align by left - - - - - - - - - - - - - - - - -->

                <div class="gt-content-element">

                    <img src="https://admin.walindwa.org{{sponsorshipSingleType.PostHighLeftImage.url}}" class="alignleft" alt="">

                    {{{markdown sponsorshipSingleType.PostHighLowerText}}}


                </div>
                <!--/ .gt-content-element -->

                <!-- - - - - - - - - - - - - - End of Align by left - - - - - - - - - - - - - - - - -->


{{!-- <div class="gt-content-element">

                    <p><a href="http://elmabarnettchildrenscentre.org/category/higher-education-students/"
                            target="_blank" rel="noopener noreferrer">Click Here</a> to view a list of students who are
                        in need of sponsorship.</p>

                </div> --}}
                <!--/ .gt-content-element -->

                    
                <div class="gt-content-element text-center">
                    <div class="container">
                        <div class="row">
                            <div class="aligncenter">
                                <a href="{{sponsorshipSingleType.StudentsApplicationLink}}" class="gt-btn navA" target="_blank">Download a Sponsorship Application Form</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ .col -->

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->