{{> main/breadcrumb currentTitle=this.title}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">

				<!-- - - - - - - - - - - - - - Align by center - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<div class="aligncenter">
						<img src="https://admin.moreleft.com{{ sponsorshipSingleType.StudentsTopImage.url }}" alt="">
					</div>

					{{!-- <p></p> --}}

					{{{markdown sponsorshipSingleType.StudentsTopBody}}}

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by center - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Align by left - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<img src="https://admin.moreleft.com{{sponsorshipSingleType.StudentsPrimaryImage.url}}"
						class="alignleft" alt="">

					<h3>Primary students</h3>


					{{{markdown sponsorshipSingleType.StudentsPrimaryBody}}}

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by left - - - - - - - - - - - - - - - - -->


				<!-- - - - - - - - - - - - - - Align by right - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<img src="https://admin.moreleft.com{{sponsorshipSingleType.StudentsSecondaryImage.url}}" class="alignright" alt="">

					<h3>Secondary students</h3>

					{{{markdown sponsorshipSingleType.StudentsSecondaryBody}}}

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by right - - - - - - - - - - - - - - - - -->
				<div class="gt-content-element text-center">
					<div class="container">
						<div class="row">
							<div class="aligncenter">
								<a href="{{sponsorshipSingleType.StudentsApplicationLink}}"
									class="gt-btn navA" target="_blank">Download a Sponsorship Application Form</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ .col -->

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->